
.navbar-brand{
    font-size: 25px;
    
}

.sectionOne{
    opacity: 0.9;
  }

  .container > .row > *{
    display: flex;
  }

  .heading{
    justify-content: center;
    margin-top: 55px;
  }

  .headingTwo{
    justify-content: center;
    margin-top: 30px;
    text-align: center;
  }

  h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  h1{
    font-size: 50px;
    font-weight: bold;
    color: #132043;
    text-align: center;
  }

  .paragraph{
    text-align: center;
    font-size:18px;
    margin-top: 5px;
  }


.flexContainer1{
    display: none;
}



.flexContainer1 > *{
  margin-top: 15px;
}



.btnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.btn{
  padding: 10px 19px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: px;
  border: none;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@media only screen and (max-width: 680px){
  .flexContainer1{
      display: flex;
      flex-basis: 100%;
      flex-direction: row;
      position: fixed;
      margin-top: 15px;    
      bottom: 0;
      overflow: hidden;    
      justify-content: space-evenly;
      align-items: center;
      background-color: rgb(195, 211, 226); 
      -webkit-box-shadow: 0px -4px 3px rgba(92, 126, 156, 100);
      -moz-box-shadow: 0px -4px 3px  rgba(92, 126, 156, 100);
      box-shadow: 0px -4px 6px  rgba(92, 126, 156, 100);
      width: 100%;
      
  }
}
